<div class="top-left-nav">
  Beangle Network: <a href="#">beangle.net</a> | <a href="#">beanglestore.com</a> | <a href="#">careers!</a>
</div>
<div id="top-right-search" class="top-right-search">
  {{mount-widget widget="search-widget"}}
</div>
